$body-bg:    #131415;
$body-color: #C4DAE1;

$body-color-2: #606E72;

@import 'normalize';
@import 'fonts';
@import 'type';
@import 'main';
@import 'player';
@import 'basscss/flexbox';
@import 'basscss/layout';
@import 'basscss/grid';
@import 'basscss/margin';
@import 'basscss/padding';