@font-face {
  font-family: 'MetamorBit';
  src: url('../fonts/MetamorBit-Regular.woff2') format('woff2');
}

:root {
  --bg: #000;
  --c: #ccc;
  --c2: hsl(0 0% 60%);
  --c3: hsl(0 0% 40%);
  --body-size: 16px;
  --cover-size: 160px;
  --release-gap: 1rem;
  --vinyl-bg: #181818;;
  --page-width: 1280px;
  --page-padding: 0;
  --thumb-height: 39px;
  --thumb-head-height: 3px;
}

@media (max-width: 720px) {
  :root {
    --cover-size: 22vw;
    --release-gap: 4vw;
    --body-size: 14px;
  }
}

*,*:before,*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--c);
  font-family: 'MetamorBit', monospace;
  font-size: var(--body-size);
  line-height: 1.4;
  font-variation-settings: "wdth" 400;
  letter-spacing: 0.07em;
  padding: var(--page-padding);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  padding: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 720px) {
  .header {
    padding: 10px;
  }
}

.main-title, .secondary-title  {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: 0.7ex;
  font-variation-settings: "wdth" 400;
  z-index: 2;
  margin: 0;
}

.play-pause {
  height: 32px;
  width: 32px;
  appearance: none;
  margin: 0 auto;
  background: transparent;
  border: none;
  box-sizing: content-box;
  display: block;
  padding: 0;
  opacity: 0;
  transition: 0.8s opacity cubic-bezier(0.64, 0.23, 0.68, 0.7);
  position: relative;
  top: 12px;
  z-index: 1;
}

.play-pause:after {
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: absolute;
  inset: 0;
  margin: auto;
  background: conic-gradient(#222222, #b5b5b5, #0b0b0b, #898989, #222222);
}

.track:has(.playing) .play-pause,
.track:hover .play-pause {
  opacity: 1;
  transition: 0.3s opacity;
}

.tracks {
  display: grid;
  margin: 0 auto;
  width: fit-content;
  padding-block: 100px;
  display: grid;
  grid-template-columns: repeat(9, 44px);
  grid-auto-rows: 1px;
  column-gap: 16px;
}

@media (max-width: 720px) {
  .tracks {
    grid-template-columns: repeat(3, 44px);
    column-gap: 24px;
  }
}

.spacer1 { grid-row: span 45; }
.spacer2 { grid-row: span 23; }
.spacer3 { grid-row: span 56; }
.spacer4 { grid-row: span 85; }

.spacer6 { grid-row: span 80; }
.spacer7 { grid-row: span 50; }
.spacer8 { grid-row: span 70; }
.spacer9 { grid-row: span 50; }

@media (max-width: 720px) {
  .spacer1 { grid-row: span 45; }
  .spacer2 { grid-row: unset; }
  .spacer3 { grid-row: span 13; }
  .spacer4 { display: none; }
  .spacer5 { display: none; }
  .spacer6 { display: none; }
  .spacer7 { display: none; }
  .spacer8 { display: none; }
  .spacer9 { display: none; }
}

.track {
  transition: 0.1s opacity;
}

.col {
  position: relative;
}

#col1 { top: 45px; }
#col2 { top: 23px; }
#col3 { top: 56px; }
#col4 { top: 85px; }

#col6 { top: 80px; }
#col7 { top: 50px; }
#col8 { top: 70px; }
#col9 { top: 50px; }

.slider-wrapper {
  --width: 44px;
  --timing: cubic-bezier(0, 0, 0.39, 1);

  height: 20px;
  width: var(--width);
  position: relative;
  transition: height 4s;
  transition-timing-function: var(--timing);
}

.slider-wrapper,
.slider-wrapper .slider {
  touch-action: none;     /* don't treat vertical movement as scroll here */
}

.slider-track {
  opacity: 0;
  transition: opacity 2s;
  transition-timing-function: var(--timing);
}

.slider-wrapper.ready .slider-track {
  opacity: 1;
}

.slider {
  writing-mode: vertical-lr; 
  direction: ltr;
  -webkit-appearance: none; 
  appearance: none;
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.slider:focus {
  outline: none;
}

.slider-track {
  pointer-events: none;
  background: linear-gradient(
    90deg, 
    hsl(0, 0%, 12%), 
    hsl(0, 0%, 35%) 37%, 
    hsl(0, 0%, 73%) 57%, 
    hsl(0, 0%, 13%)
  );
  height: calc(100% + var(--tip-h) + 2px - 38px);
  width: 10px;
  position: absolute;
  top: calc((var(--thumb-height) - var(--thumb-head-height)) / 2);
  left: 0;
  right: 0;
  margin: auto;
  clip-path: polygon(100% 0, 100% 52%, 50% 100%, 0 51%, 0 51%, 0% 0%);
  z-index: -1;

  --tip-h: 24px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--tip-h)),
    50% 100%,
    0 calc(100% - var(--tip-h))
  );
}

.tracks:has(.playing) .track {
  opacity: 0.6;
}

.track:has(.playing) {
  opacity: 1 !important;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: var(--width);
  height: var(--thumb-height);
  background: linear-gradient(90deg, #B9B9B9, #1F1F1F 20%, #585858 37%, #B9B9B9 57%, #222222);
  background-size: 100% var(--thumb-head-height);
  background-repeat: no-repeat;
  background-position-y: calc((var(--thumb-height) - var(--thumb-head-height)) / 2);
  filter: drop-shadow(0 1px 2px black);
  box-shadow: none;
}

.slider::-moz-range-thumb {
  appearance: none;
  left: 0;
  top: 0;
  width: var(--width);
  height: var(--thumb-height);
  background: linear-gradient(90deg, #B9B9B9, #1F1F1F 20%, #585858 37%, #B9B9B9 57%, #222222);
  background-size: 100% var(--thumb-head-height);
  background-repeat: no-repeat;
  background-position-y: calc((var(--thumb-height) - var(--thumb-head-height)) / 2);
  filter: drop-shadow(0 1px 2px black);
  box-shadow: none;
}
